@charset "utf-8";

@media screen and (min-width:768px) and (max-width: 992px){
  /*comf. para tablet*/
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
        height: 302px;
    }  


    section#login > aside#imagen{
        float: left;
        overflow: hidden;

        width: 30%;
        height: 100%;
        height: 200px;
    }

    section#login > aside#formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
   /* comf. para desktop*/
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
        width: 950px;
        height: 322px;
    }

    section#login > aside#imagen{
        float: right;
        width: 50%;
        height: 100%;

    }

    section#login> aside#formulario{
        float: left;
        width: 50%;
    }
   
    div.formulario >p{
        font-size: 1em;
        margin: 20px 0px ;
    }
}